.google-signIn {
    border: none;
    background-color: goldenrod;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.google-logo {
    height: 60px;
    margin-left: 10px;
}

.go-font {
    font-size: 16px;
    margin-left: 0;
    margin-top: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}